*.so
*.pyc
.project
.pydevproject
*.png
norepository_*
*~
build
CyFPPS.cpp
examples/*/res/*
*.egg-info
__pycache__
.pytest_cache
**/.DS_Store
xtrack/prebuilt_kernels
!xtrack/prebuilt_kernels/_kernel_definitions.json
